@import url('https://fonts.googleapis.com/css?family=Cuprum');

/*navigation bar*/
ul.navigation{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #333;
  position:fixed;
  top:0;
  width:100%;
}

ul.navigation li{
  float:left;
  margin-left: 50px;
}

ul.navigation li a{
  display: block;
  color:gray;
  text-align: center;
  padding:14px 16px;
  text-decoration:none;
}

ul.navigation li a:hover{
  color:white;
}

ul.navigation li a.active{
  background-color: #4CAF50;
  color:white;
}

/*push down content*/
#content{
  margin-top:20px;
  padding:50px;
}

/*button*/
.button{
  display: inline-block;
  border-radius:4px;
  background-color:lightgreen;
  border:none;
  color:black;
  text-align:center;
  font-size:15px;
  padding:20px;
  width:200px;
  transition:all 0.5s;
  cursor:pointer;
  margin:5px;
}

.button span{
  cursor:pointer;
  display:inline-block;
  position:relative;
  transition:0.5s;
}

.button span:after{
  content:'\00bb';
  position:absolute;
  opacity:0;
  top:0;
  right:-20px;
  transition:0.5s;
}

.button:hover span{
  padding-right:25px;
}

.button:hover span:after{
  opacity:1;
  right:0;
}

body{
  margin: 0;
  font-family: 'Cuprum', sans-serif;
}

/*if screen gets smaller*/
@media screen and (max-width: 600px){
  ul.navigation li {
    float:none;
  }
  #content{
    margin-top: 200px;
    padding:50px;
  }
}