#home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width:100%;
    height:100vh;
    /* color: white; */
    padding-left: 10%;
    padding-right: 10%;
    text-shadow:
		-0.5px -0.5px 0 white,
		0.5px -0.5px 0 white,
		-0.5px 0.5px 0 white,
		0.5px 0.5px 0 white;
}

#title{
    font-size: 4em;
}

hr{
    color:white;
    align-self: center;
}