#about{
    width:100%;
    height: calc(100vh - 55px);
    height: -o-calc(100% - 55px); /* opera */
    height: -webkit-calc(100% - 55px); /* google, safari */
    height: -moz-calc(100% - 55px); /* firefox */
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    background-color:rgb(211, 84, 84);
}