#home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height: calc(100vh - 55px);
    height: -o-calc(100% - 55px); /* opera */
    height: -webkit-calc(100% - 55px); /* google, safari */
    height: -moz-calc(100% - 55px); /* firefox */
    color: lightcoral;
    padding-left: 10%;
    padding-right: 10%;
}

#title{
    font-size: 4em;
    align-self: center;
}

hr{
    color: black;
}